// http://monkeyraptor.johanpaul.net/2013/06/circle-clipping-photo-using-css.html
.popolo-circle {
  overflow: hidden;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  background-repeat: no-repeat;
  // Eliminate any 1px border on the image.
  background-size: 102px auto;
  // Faces tend to be low in the image.
  background-position: -1px -15px;
}