<% ancestors = @organization.ancestors %>

<nav>
  <ul class="breadcrumb">
    <li>
      <%= link_to resource_collection_name.capitalize, collection_path %>
      <span class="divider">/</span>
    </li>
    <% ancestors.each do |ancestor| %>
      <li>
        <%= link_to ancestor.name, ancestor %>
        <span class="divider">/</span>
      </li>
    <% end %>
    <li class="active">
      <%= @organization.name %>
    </li>
  </ul>
</nav>
