<% organizations.group_by(&:classification).each do |classification,organizations| %>
  <section>
    <header>
      <h1>
        <%=t classification, count: organizations.size, scope: [:popolo, :organizations, :classifications] %>
      </h1>
    </header>
    <ol>
      <% organizations.each do |organization| %>
        <li>
          <%= link_to organization.name, organization %>
        </li>
      <% end %>
    </ol>
  </section>
<% end %>
