<%= render partial: 'breadcrumb' %>
<% ancestors = @organization.ancestors_and_self %>

<section>
  <h1><%= @organization.name %></h1>

  <ol class="media-list">
    <% @posts.each do |post| %>
      <li class="media">
        <div class="media-body">
          <h2 class="media-heading">
            <%= link_to post.name, nested_organization_post_path(ancestors, post) %>
          </h2>
        </div>
      </li>
    <% end %>
  </ol>
</section>
