<%= render partial: 'breadcrumb' %>

<% collection = @organization.children %>
<% unless collection.empty? %>
  <% groups = collection.group_by(&:classification) %>
  <% groups.each do |classification,documents| %>
    <section>
      <header>
        <h1>
          <%=t classification, scope: [:popolo, resource_collection_name, :classifications] %>
        </h1>
      </header>
      <ol>
        <% documents.each do |document| %>
          <li>
            <%= link_to document.name, nested_resource_path([@organization, document]) %>
          </li>
        <% end %>
      </ol>
    </section>
  <% end %>
<% end %>
