<!DOCTYPE html>
<html>
<head>
  <title>Popolo</title>
  <%= stylesheet_link_tag    "popolo/application", :media => "all" %>
  <%= javascript_include_tag "popolo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
